<p></p>
<p>{{username}}, welcome back!</p>

<div>
    <a href="/root">To root directory</a>
</div>
<div>
    <a href=/shared/{{username}}>See others sharing directories.</a>
</dvi>
<form method="POST" action="/logout">
    <button class="ui button primary" type="submit">logout</button>
</form>