
<p>{{username}}, welcome back!</p>

<div>
    <a href="/root">To root directory</a>
</div>
<div>
    <a href=/shared/{{username}}>See others sharing directories.</a>
</div>
<div style="display:none">

    <div>
        <a href=/filelog/>File log.</a>
    </div>
    <div>
        <a href=/authoritylog/>Authority log.</a>
    </div>
</div>
<form method="POST" action="/logout">
    <button class="ui button primary" type="submit">logout</button>
</form>

<br>
<div>
<p>This is a project demo for database course.</p>
<p>Designed by Zihui Liu（16337166） and Weibin Ou(16337202).</p>
<p>Any problem, please contact us via liuzh79@mail2.sysu.edu.cn.</p>
</div>