<form action="signin" method="POST">
    This is Sign in page.
    <br>
    Username: <input type="text" name="username"> <br>
    Password: <input type="text" name="password">
    <input type="submit" value="Submit">
</form>