This is sign up page.
<form action="signup" method="POST">
    Username: <input type="text" name="username"> <br>
    Password: <input type="text" name="password">
    <input type="submit" value="Submit">
</form>